#####Task1

In [0]:
#making dataframe
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('Task1.com').getOrCreate()
data = [ (1, "bhupendra","vaishnav","A","42"),
        (2, "rahul","singh","B","21"),
        (3, "rashma","khan","C","14"),
        (4 ,"sahil","sharma","A","52")]
schema = ["id","firstname","lastname","section","rollno"]
df = spark.createDataFrame(data=data,schema = schema)

In [0]:
df.show()

+---+---------+--------+-------+------+
| id|firstname|lastname|section|rollno|
+---+---------+--------+-------+------+
|  1|bhupendra|vaishnav|      A|    42|
|  2|    rahul|   singh|      B|    21|
|  3|   rashma|    khan|      C|    14|
|  4|    sahil|  sharma|      A|    52|
+---+---------+--------+-------+------+

#####1. Update The Value of an Existing Column

In [0]:

from pyspark.sql.functions import col
new_df = df.withColumn("updated_rollno",df.rollno*2)

In [0]:
#updated value of the rollno
new_df.show()

+---+---------+--------+-------+------+--------------+
| id|firstname|lastname|section|rollno|updated_rollno|
+---+---------+--------+-------+------+--------------+
|  1|bhupendra|vaishnav|      A|    42|          84.0|
|  2|    rahul|   singh|      B|    21|          42.0|
|  3|   rashma|    khan|      C|    14|          28.0|
|  4|    sahil|  sharma|      A|    52|         104.0|
+---+---------+--------+-------+------+--------------+

##### 2. Change data type using withcolumn

In [0]:

df.printSchema()
new_df=df.withColumn("rollno",df.rollno.cast("Integer"))
new_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- section: string (nullable = true)
 |-- rollno: string (nullable = true)

root
 |-- id: long (nullable = true)
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- section: string (nullable = true)
 |-- rollno: integer (nullable = true)

#####Task2

#####1.Using row class create a dataframe having nested structure

In [0]:


from pyspark.sql import SparkSession, Row
row1 = Row("bhupendra",22,Row("sawai madhopur","Rajasthan"))
row2 = Row("rahul",32,Row("Bhopal","MP"))
row3 = Row("rohan",23,Row("dwarika","gujarat"))
row = [row1,row2,row3]
column = ["name", "age", "address"]
df = spark.createDataFrame(row,column)

In [0]:
df.show()

+---------+---+--------------------+
|     name|age|             address|
+---------+---+--------------------+
|bhupendra| 22|{sawai madhopur, ...|
|    rahul| 32|        {Bhopal, MP}|
|    rohan| 23|  {dwarika, gujarat}|
+---------+---+--------------------+

#####Task3

#####1.To use the Column class, you need to import it from

In [0]:
from pyspark.sql.functions import lit
col_obj =  lit("Task1.com")

In [0]:
data = [("bhupendra",21), ("james",24)]
df = spark.createDataFrame(data).toDF("name","age")
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [0]:
df.select(df.age).show()

+---+
|age|
+---+
| 21|
| 24|
+---+

In [0]:
df.select(df['age']).show()

+---+
|age|
+---+
| 21|
| 24|
+---+

In [0]:
#by using the col () function
from pyspark.sql.functions import col
df.select(col("age")).show()

+---+
|age|
+---+
| 21|
| 24|
+---+

In [0]:
df.select(col("name")).show()

+---------+
|     name|
+---------+
|bhupendra|
|    james|
+---------+

#####2.create Column objects by using various DataFrame API functions

In [0]:

from pyspark.sql.functions import col

data = [(100,12,"Rahul"),(12,123, "bhupendra")]
column = [ "number", "rollno","name"]
df = spark.createDataFrame(data,column)

In [0]:
#using col() function
name = col('name')

In [0]:
#using sum operations
sum =df.select( df['number']+df['rollno']).show()

+-----------------+
|(number + rollno)|
+-----------------+
|              112|
|              135|
+-----------------+

In [0]:
#using indexing
first_col = df.select(df['name']).show()

+---------+
|     name|
+---------+
|    Rahul|
|bhupendra|
+---------+

In [0]:
#using comparison operations
condition = df.select(df['rollno']>10).show(#)

+-------------+
|(rollno > 10)|
+-------------+
|         true|
|         true|
+-------------+

In [0]:
#using the aggregate function
from pyspark.sql.functions import avg
avg_col = df.select(avg(df["rollno"])).show()

+-----------+
|avg(rollno)|
+-----------+
|       67.5|
+-----------+

In [0]:
# string manipulation functions
from pyspark.sql.functions import concat,lit
concat_col = df.select(concat(df['name'] , lit(''),df['rollno'])).show()

+----------------------+
|concat(name, , rollno)|
+----------------------+
|               Rahul12|
|          bhupendra123|
+----------------------+

#####Task4

#####1.if age is greater than 18 then multiply salary by 2 if not then make that column as null

In [0]:
#creating a dataframe
data  = [("bhupendra",21, 81000),
          ("rahul", 19 , 83999),
         ("rohan" , 18 , 84000 ),
         ("rashma",17 , 85000)
        ]
schema = ["name","age","salary"]
new_df = spark.createDataFrame(data=data ,schema =schema)
new_df.show()

+---------+---+------+
|     name|age|salary|
+---------+---+------+
|bhupendra| 21| 81000|
|    rahul| 19| 83999|
|    rohan| 18| 84000|
|   rashma| 17| 85000|
+---------+---+------+

In [0]:
from pyspark.sql.functions import when

new_df1  = new_df.withColumn("updated_salary" , when(new_df.age >18 , new_df.salary*2)
                                     .otherwise("null"))

In [0]:
new_df1.show()

+---------+---+------+--------------+
|     name|age|salary|updated_salary|
+---------+---+------+--------------+
|bhupendra| 21| 81000|        162000|
|    rahul| 19| 83999|        167998|
|    rohan| 18| 84000|          null|
|   rashma| 17| 85000|          null|
+---------+---+------+--------------+

#####2. use when and otherwise with aggregrate functions

In [0]:

#sum
from pyspark.sql.functions import sum, when
sum_salary = sum( when(new_df['age'] >18, 84000) .otherwise(new_df['salary'])) 
result_sum =new_df.select(sum_salary.alias("sum_of_salary")).show()

+-------------+
|sum_of_salary|
+-------------+
|       337000|
+-------------+

In [0]:
#average
from pyspark.sql.functions import avg
avg_sum = new_df.select(avg(col('salary'))).show()

+-----------+
|avg(salary)|
+-----------+
|   83499.75|
+-----------+

#####Task5

In [0]:
#creating the new data frame 

data = [("Bhupendra" , "Male" ,21, 51000 ),
       ("Rishi" , "Male" ,24, 31000 ),
        ("Sahil" , "Male" ,22, 51303 ),
        ("Roni" , "Female" ,23, 51000 ),
        ("Rashma" , "Female" ,19, 41300 ),
        ("Raghav" , "Male" ,"" , 41300 ),
        
       ]
column = ["Name","Gender","age","salary"]

In [0]:
df_new = spark.createDataFrame(data,column)

In [0]:
df_new.show()

+---------+------+---+------+
|     Name|Gender|age|salary|
+---------+------+---+------+
|Bhupendra|  Male| 21| 51000|
|    Rishi|  Male| 24| 31000|
|    Sahil|  Male| 22| 51303|
|     Roni|Female| 23| 51000|
|   Rashma|Female| 19| 41300|
|   Raghav|  Male|   | 41300|
+---------+------+---+------+

######1 Rename the Name to Employee name with out using the withColumn renamed

In [0]:
#using alias
#renaming a col using alias
df_new1 =df_new.select(df_new.Name.alias("Employee_Name"),df_new.Gender,df_new.age,df_new.salary)

In [0]:
df_new1.show()

+-------------+------+---+------+
|Employee_Name|Gender|age|salary|
+-------------+------+---+------+
|    Bhupendra|  Male| 21| 51000|
|        Rishi|  Male| 24| 31000|
|        Sahil|  Male| 22| 51303|
|         Roni|Female| 23| 51000|
|       Rashma|Female| 19| 41300|
|       Raghav|  Male|   | 41300|
+-------------+------+---+------+

#####2. Sort a column in desc order having null values at the end and then sort a column in asc order having null values at beg

In [0]:
#sort in asc order having null values at begining
df_new2=  df_new.sort(df_new.age.asc()).show()

+---------+------+---+------+
|     Name|Gender|age|salary|
+---------+------+---+------+
|   Raghav|  Male|   | 41300|
|   Rashma|Female| 19| 41300|
|Bhupendra|  Male| 21| 51000|
|    Sahil|  Male| 22| 51303|
|     Roni|Female| 23| 51000|
|    Rishi|  Male| 24| 31000|
+---------+------+---+------+

In [0]:

#sort in desc order having null values at end
df_new3=  df_new.sort(df_new.age.desc()).show()

+---------+------+---+------+
|     Name|Gender|age|salary|
+---------+------+---+------+
|    Rishi|  Male| 24| 31000|
|     Roni|Female| 23| 51000|
|    Sahil|  Male| 22| 51303|
|Bhupendra|  Male| 21| 51000|
|   Rashma|Female| 19| 41300|
|   Raghav|  Male|   | 41300|
+---------+------+---+------+

#####Task6

#####1. Display only name and age whose gender is 'Male' or 'MALE'

In [0]:


from pyspark.sql.functions import col
df_new4 = df_new.filter(col("Gender").like("Male%")).show()

+---------+------+---+------+
|     Name|Gender|age|salary|
+---------+------+---+------+
|Bhupendra|  Male| 21| 51000|
|    Rishi|  Male| 24| 31000|
|    Sahil|  Male| 22| 51303|
|   Raghav|  Male|   | 41300|
+---------+------+---+------+

#####Task7

#####1 Distinct() & DropDuplicates() In Pyspark

In [0]:
#disctinct() function  : It is a transformation operation that returns a new DataFrame with unique rows. It considers all columns of the DataFrame.

# distinct_df = df.distinct()

#dropDuplicate() function  : It is also a transformation operation that returns a new DataFrame with duplicate rows removed. However, it provides more flexibility by allowing you to specify the subset of columns to consider for duplicate elimination.

#drop_duplicate_df = df.dropDuplicates(['col1','col2'])

#####2. In what scenarios is it appropriate to use the dropDuplicates() , and could you provide an example that demonstrates its usage?

In [0]:
#it is appropriate to use dropDuplicate wher we need specific column  should be removed
# few scenarios are
#data cleaning
#data deduplication
#join operations

#example
newRow=  [("Rishi","Male",24,31000)]
addRow = spark.createDataFrame(newRow,column)
appended = df_new.union(addRow)
appended.show()

+---------+------+---+------+
|     Name|Gender|age|salary|
+---------+------+---+------+
|Bhupendra|  Male| 21| 51000|
|    Rishi|  Male| 24| 31000|
|    Sahil|  Male| 22| 51303|
|     Roni|Female| 23| 51000|
|   Rashma|Female| 19| 41300|
|   Raghav|  Male|   | 41300|
|    Rishi|  Male| 24| 31000|
+---------+------+---+------+

In [0]:
#distinct()
df_distinct =df_new.distinct().show()

+---------+------+---+------+
|     Name|Gender|age|salary|
+---------+------+---+------+
|Bhupendra|  Male| 21| 51000|
|    Rishi|  Male| 24| 31000|
|    Sahil|  Male| 22| 51303|
|     Roni|Female| 23| 51000|
|   Rashma|Female| 19| 41300|
|   Raghav|  Male|   | 41300|
+---------+------+---+------+

In [0]:
#dropDuplicates()
df_dropDup = df_new.dropDuplicates(['Gender']).show()

+---------+------+---+------+
|     Name|Gender|age|salary|
+---------+------+---+------+
|     Roni|Female| 23| 51000|
|Bhupendra|  Male| 21| 51000|
+---------+------+---+------+

#####Task8

#####1. How to sort a dataframe based on the columns "Country," "State," and "City"?

In [0]:
data2 = [("India" , "Rajasthan", "Jaipur"),
        
        ("India" , "Rajasthan", "SawaiMadhopur"),
         ("United States", "California", "San Francisco"),
         ("Canada", "Ontario" , "Toronto"),
         ("United Kingdom" , "England","London")
        
        ]
column = ["country","state","city"]
df= spark.createDataFrame(data2,column)
df.show()

+--------------+----------+-------------+
|       country|     state|         city|
+--------------+----------+-------------+
|         India| Rajasthan|       Jaipur|
|         India| Rajasthan|SawaiMadhopur|
| United States|California|San Francisco|
|        Canada|   Ontario|      Toronto|
|United Kingdom|   England|       London|
+--------------+----------+-------------+

In [0]:
sorted_df = df.orderBy(col('country'), col('state'),col('city')).show()

+--------------+----------+-------------+
|       country|     state|         city|
+--------------+----------+-------------+
|        Canada|   Ontario|      Toronto|
|         India| Rajasthan|       Jaipur|
|         India| Rajasthan|SawaiMadhopur|
|United Kingdom|   England|       London|
| United States|California|San Francisco|
+--------------+----------+-------------+

##### Task9

#####1. Union() and UnionAll() How it is different from that is SQL,merge dataframe without duplicates

In [0]:
# union() :function in PySpark performs a distinct union, removing duplicate rows from the result. It ensures that the resulting DataFrame contains only unique rows.

# The UNION operation in SQL also removes duplicate rows by default, similar to the union() function in PySpark. It implicitly performs deduplication of rows.

# unionAll() : function combines the DataFrames including all rows, including duplicates.
# It returns a new DataFrame that includes all rows from both DataFrames, preserving duplicate rows.

In [0]:
data1 = [(1,"bhupendra",50),
         (2,"rohan",24),
        ]
schema1  = ["id","name","rollno"]
data2 = [(2 ,"rohan" ,24),
        (4, "rashma", 21)]
schema2 = ["id","name","rollno"]
df1 = spark.createDataFrame(data1,schema1)
df2 = spark.createDataFrame(data2,schema2)

In [0]:
df1.show()

+---+---------+------+
| id|     name|rollno|
+---+---------+------+
|  1|bhupendra|    50|
|  2|    rohan|    24|
+---+---------+------+

In [0]:
df2.show()

+---+------+------+
| id|  name|rollno|
+---+------+------+
|  2| rohan|    24|
|  4|rashma|    21|
+---+------+------+

In [0]:
union_df = df1.union(df2)
union_df.distinct().show()

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
+---+-------+

In [0]:
unionall_df = df1.unionAll(df2)
unionall_df.show()

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  2|    Bob|
|  3|Charlie|
+---+-------+

#####Task10

#####1.How can I handle null values or missing data when using groupBy in Spark?

In [0]:

#groupBy()
data = [(1,"rahul", "M","Teaching",5000),
       (2,"bhupendra","M","IT",10000),
        (3,"rashma","F","HR",12000),
        (4,"rohit","M","HR",13000),
        (5,"sahil" , "M" ,"IT" ,12000),
         (6,"ayesha" ,"F", "Medical",23000)]


schema = ["id","name","gender","dep","salary"]

df = spark.createDataFrame(data,schema)
df.groupBy('dep').count().show()

+--------+-----+
|     dep|count|
+--------+-----+
|Teaching|    1|
|      IT|    2|
|      HR|    2|
| Medical|    1|
+--------+-----+

In [0]:
df_filter =df.filter(col('name').isNotNull())
grouped_df =df_filter.groupBy('name').count().show()

+---------+-----+
|     name|count|
+---------+-----+
|    rahul|    1|
|bhupendra|    1|
|   rashma|    1|
|    rohit|    1|
|    sahil|    1|
|   ayesha|    1|
+---------+-----+