In [0]:
from pyspark.sql import SparkSession

In [0]:
data = [('amazon','1000' , '300'),
            ('flipkart','400' , '249'),
       ('ajio','490' , '400'),
       ('myntra','2400' , '2300'),
       
       ]
schema = ['company' , 'sales','perunitprice']

df = spark.createDataFrame(data, schema)
df.show()

+--------+-----+------------+
| company|sales|perunitprice|
+--------+-----+------------+
|  amazon| 1000|         300|
|flipkart|  400|         249|
|    ajio|  490|         400|
|  myntra| 2400|        2300|
+--------+-----+------------+

In [0]:
df_revenue = df.select(df.company, df.sales,df.perunitprice, (df['sales']*df['perunitprice']).alias("Revenue"))
df_revenue.show()

+--------+-----+------------+---------+
| company|sales|perunitprice|  Revenue|
+--------+-----+------------+---------+
|  amazon| 1000|         300| 300000.0|
|flipkart|  400|         249|  99600.0|
|    ajio|  490|         400| 196000.0|
|  myntra| 2400|        2300|5520000.0|
+--------+-----+------------+---------+

In [0]:
from pyspark.sql.functions import count, max, min

+--------+--------------+
| company|count(revenue)|
+--------+--------------+
|  amazon|             1|
|flipkart|             1|
|    ajio|             1|
|  myntra|             1|
+--------+--------------+

In [0]:
data2 =  [('amazon','1000' ),
            ('flipkart','400'),
       ('ajio','490' ),
       ('myntra','2400'),
        ('amazon','31000' ),
            ('flipkart','4200'),
       ('ajio','1490' ),
       ('myntra','23400'),
          
       
       ]
schema = ['company' , 'revenue' ]

df = spark.createDataFrame(data2, schema)
df.show()

+--------+-------+
| company|revenue|
+--------+-------+
|  amazon|   1000|
|flipkart|    400|
|    ajio|    490|
|  myntra|   2400|
|  amazon|  31000|
|flipkart|   4200|
|    ajio|   1490|
|  myntra|  23400|
+--------+-------+

In [0]:
df_revenue = df.select(df.company,df.revenue).show()

+--------+-------+
| company|revenue|
+--------+-------+
|  amazon|   1000|
|flipkart|    400|
|    ajio|    490|
|  myntra|   2400|
|  amazon|  31000|
|flipkart|   4200|
|    ajio|   1490|
|  myntra|  23400|
+--------+-------+

In [0]:
df_revenue = df.withColumn('revenue' , df.revenue.cast("Integer")).show()
df = df.withColumn('revenue',df.revenue.cast('Integer'))
df.printSchema()

+--------+-------+
| company|revenue|
+--------+-------+
|  amazon|   1000|
|flipkart|    400|
|    ajio|    490|
|  myntra|   2400|
|  amazon|  31000|
|flipkart|   4200|
|    ajio|   1490|
|  myntra|  23400|
+--------+-------+

root
 |-- company: string (nullable = true)
 |-- revenue: integer (nullable = true)

In [0]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col 

df = df.withColumn("revenue", col("revenue").cast("int"))
group_by = df.groupBy('company').agg(sum(df['revenue'].cast('int')).alias('total_revenue')).show()

+--------+-------------+
| company|total_revenue|
+--------+-------------+
|  amazon|        32000|
|flipkart|         4600|
|    ajio|         1980|
|  myntra|        25800|
+--------+-------------+

In [0]:
data = [('amazon',14224),
       ('flipkart',11224),
       ('myntra',24224),
       ('ajio',34224),
       ('amazon',15224),
       ('flipkart',11224),('ajio',19224),
       ('myntra',23224),
       ('amazon',10224),
       ('myntra',94224),
       ('flipkart',32224),('ajio',39224),('myntra',12324),]
schema = ['company','revenue']
df = spark.createDataFrame(data,schema)
df.show()

+--------+-------+
| company|revenue|
+--------+-------+
|  amazon|  14224|
|flipkart|  11224|
|  myntra|  24224|
|    ajio|  34224|
|  amazon|  15224|
|flipkart|  11224|
|    ajio|  19224|
|  myntra|  23224|
|  amazon|  10224|
|  myntra|  94224|
|flipkart|  32224|
|    ajio|  39224|
|  myntra|  12324|
+--------+-------+

In [0]:
#checking the datatype
df.printSchema()

root
 |-- company: string (nullable = true)
 |-- revenue: long (nullable = true)

In [0]:
#converting the datatype of revenue to long int
from pyspark.sql.functions import col
company_revenue = df.groupBy('company').agg(sum('revenue').alias('total_revenue')).show()

+--------+-------------+
| company|total_revenue|
+--------+-------------+
|  amazon|        39672|
|flipkart|        54672|
|  myntra|       153996|
|    ajio|        92672|
+--------+-------------+

In [0]:
data =  [  (1, 'amazon'),
           (2, 'flipkart'),
           (3, 'myntra'),
         (4,'google'),
         (5,'microsoft')
        ]
schema = ['id','company']
df1 = spark.createDataFrame(data,schema)

In [0]:
data = [('bold',12323),
       ('stylic',32332),
       ('italic',42442),
       ('normal',23221),
       ('normal',123231)
       ]
schema = ['body_style','price']
df2 = spark.createDataFrame(data,schema)

In [0]:
df1.show()
df2.show()

+---+---------+
| id|  company|
+---+---------+
|  1|   amazon|
|  2| flipkart|
|  3|   myntra|
|  4|   google|
|  5|microsoft|
+---+---------+

+----------+------+
|body_style| price|
+----------+------+
|      bold| 12323|
|    stylic| 32332|
|    italic| 42442|
|    normal| 23221|
|    normal|123231|
+----------+------+

In [0]:
unionByName = df1.unionByName(df2,allowMissingColumns= True).show()

+----+---------+----------+------+
|  id|  company|body_style| price|
+----+---------+----------+------+
|   1|   amazon|      null|  null|
|   2| flipkart|      null|  null|
|   3|   myntra|      null|  null|
|   4|   google|      null|  null|
|   5|microsoft|      null|  null|
|null|     null|      bold| 12323|
|null|     null|    stylic| 32332|
|null|     null|    italic| 42442|
|null|     null|    normal| 23221|
|null|     null|    normal|123231|
+----+---------+----------+------+

In [0]:

data = [ ('BMW', 'Gasoline', 332, 212, 60000),
    
          ('Tesla', 'Electric', 400, 250, 80000),
       
        ('Toyota', 'Hybrid', 200, 400, 35000),
        ('Ford', 'Gasoline', 250, 300, 45000),
        ('Honda', 'Gasoline', 180, 350, 30000)]

schema = ['company', 'engine type', 'horse power', 'average mileage', 'price']

# Create the DataFrame
df = spark.createDataFrame(data, schema)

# Show the DataFrame
df.show()

+-------+-----------+-----------+---------------+-----+
|company|engine type|horse power|average mileage|price|
+-------+-----------+-----------+---------------+-----+
|    BMW|   Gasoline|        332|            212|60000|
|  Tesla|   Electric|        400|            250|80000|
| Toyota|     Hybrid|        200|            400|35000|
|   Ford|   Gasoline|        250|            300|45000|
|  Honda|   Gasoline|        180|            350|30000|
+-------+-----------+-----------+---------------+-----+

In [0]:
from pyspark.sql.functions import col
company = df.select(col('company')).show()

+-------+
|company|
+-------+
|    BMW|
|  Tesla|
| Toyota|
|   Ford|
|  Honda|
+-------+

In [0]:
engine_type = df.select(col('engine type')).show()

+-----------+
|engine type|
+-----------+
|   Gasoline|
|   Electric|
|     Hybrid|
|   Gasoline|
|   Gasoline|
+-----------+

In [0]:
horse_power = df.select(col('horse power')).show()

+-----------+
|horse power|
+-----------+
|        332|
|        400|
|        200|
|        250|
|        180|
+-----------+

In [0]:
average_mileage =df.select(col('average mileage')).show()

+---------------+
|average mileage|
+---------------+
|            212|
|            250|
|            400|
|            300|
|            350|
+---------------+

In [0]:
price = df.select(col('price')).show()

+-----+
|price|
+-----+
|60000|
|80000|
|35000|
|45000|
|30000|
+-----+

In [0]:
data1 = [(1,'bhupendra',20001,2), (2,'rahul',23124,1),(3,'rohan',32332,4)]
schema1 = [ 'id','name','salary','dep']
data2 = [(1 , 'IT'), (2,'HR'),(3,'Payroll')]
schema2= ['id','depName']

emp = spark.createDataFrame(data1,schema1)
dep  =spark.createDataFrame(data2,schema2)
emp.show()
dep.show()

+---+---------+------+---+
| id|     name|salary|dep|
+---+---------+------+---+
|  1|bhupendra| 20001|  2|
|  2|    rahul| 23124|  1|
|  3|    rohan| 32332|  4|
+---+---------+------+---+

+---+-------+
| id|depName|
+---+-------+
|  1|     IT|
|  2|     HR|
|  3|Payroll|
+---+-------+

In [0]:
innerjoined = emp.join(dep,emp.dep== dep.id,'inner')
innerjoined.show()

+---+---------+------+---+---+-------+
| id|     name|salary|dep| id|depName|
+---+---------+------+---+---+-------+
|  2|    rahul| 23124|  1|  1|     IT|
|  1|bhupendra| 20001|  2|  2|     HR|
+---+---------+------+---+---+-------+

In [0]:
emp.join(dep,emp.dep== dep.id,'left').show()

+---+---------+------+---+----+-------+
| id|     name|salary|dep|  id|depName|
+---+---------+------+---+----+-------+
|  1|bhupendra| 20001|  2|   2|     HR|
|  2|    rahul| 23124|  1|   1|     IT|
|  3|    rohan| 32332|  4|null|   null|
+---+---------+------+---+----+-------+

In [0]:
emp.join(dep,emp.dep == dep.id , 'leftanti').show()

+---+-----+------+---+
| id| name|salary|dep|
+---+-----+------+---+
|  3|rohan| 32332|  4|
+---+-----+------+---+

In [0]:
innerjoined.createOrReplaceTempView('Employees')
df1 = spark.sql(" select * from Employees ")
df1.show()

+---+---------+------+---+---+-------+
| id|     name|salary|dep| id|depName|
+---+---------+------+---+---+-------+
|  2|    rahul| 23124|  1|  1|     IT|
|  1|bhupendra| 20001|  2|  2|     HR|
+---+---------+------+---+---+-------+

In [0]:
%sql
select * from Employees

id,name,salary,dep,id,depName
2,rahul,23124,1,1,IT
1,bhupendra,20001,2,2,HR

In [0]:

data = [ ('BMW', 'Gasoline', None , 212, 60000),
    
          ('Tesla', None, 400, 250, 80000),
       
        ('Toyota', 'Hybrid', 200, 400, 35000),
        (None, 'Gasoline', 250, 300, 45000),
        ('Honda', 'Gasoline', 180,None, 30000)]

schema = ['company', 'engine type', 'horse power', 'average mileage', 'price']

# Create the DataFrame
df = spark.createDataFrame(data, schema)

# Show the DataFrame
df.show()

+-------+-----------+-----------+---------------+-----+
|company|engine type|horse power|average mileage|price|
+-------+-----------+-----------+---------------+-----+
|    BMW|   Gasoline|       null|            212|60000|
|  Tesla|       null|        400|            250|80000|
| Toyota|     Hybrid|        200|            400|35000|
|   null|   Gasoline|        250|            300|45000|
|  Honda|   Gasoline|        180|           null|30000|
+-------+-----------+-----------+---------------+-----+

In [0]:
df2 = df.fillna('unknown')
df2.show()

+-------+-----------+-----------+---------------+-----+
|company|engine type|horse power|average mileage|price|
+-------+-----------+-----------+---------------+-----+
|    BMW|   Gasoline|       null|            212|60000|
|  Tesla|    unknown|        400|            250|80000|
| Toyota|     Hybrid|        200|            400|35000|
|unknown|   Gasoline|        250|            300|45000|
|  Honda|   Gasoline|        180|           null|30000|
+-------+-----------+-----------+---------------+-----+

In [0]:
df.printSchema()

root
 |-- company: string (nullable = false)
 |-- engine type: string (nullable = false)
 |-- horse power: long (nullable = true)
 |-- average mileage: long (nullable = true)
 |-- price: long (nullable = true)

In [0]:
df2 = df.select(df['horse power'],df['average mileage'], df['price'] ).show()

+-----------+---------------+-----+
|horse power|average mileage|price|
+-----------+---------------+-----+
|       null|            212|60000|
|        400|            250|80000|
|        200|            400|35000|
|        250|            300|45000|
|        180|           null|30000|
+-----------+---------------+-----+

In [0]:
df_filled = df.fillna(0).show()

+-------+-----------+-----------+---------------+-----+
|company|engine type|horse power|average mileage|price|
+-------+-----------+-----------+---------------+-----+
|    BMW|   Gasoline|          0|            212|60000|
|  Tesla|    unknown|        400|            250|80000|
| Toyota|     Hybrid|        200|            400|35000|
|unknown|   Gasoline|        250|            300|45000|
|  Honda|   Gasoline|        180|              0|30000|
+-------+-----------+-----------+---------------+-----+

In [0]:
df =df.withColumn('horse power', df['horse power'].cast('string'))
df =df.withColumn('average mileage', df['average mileage'].cast('string'))
df =df.withColumn('price', df['price'].cast('string'))

In [0]:
df.printSchema()

root
 |-- company: string (nullable = true)
 |-- engine type: string (nullable = true)
 |-- horse power: string (nullable = true)
 |-- average mileage: string (nullable = true)
 |-- price: string (nullable = true)

In [0]:
df_fill = df.fillna('unknown').show()

+-------+-----------+-----------+---------------+-----+
|company|engine type|horse power|average mileage|price|
+-------+-----------+-----------+---------------+-----+
|    BMW|   Gasoline|    unknown|            212|60000|
|  Tesla|    unknown|        400|            250|80000|
| Toyota|     Hybrid|        200|            400|35000|
|unknown|   Gasoline|        250|            300|45000|
|  Honda|   Gasoline|        180|        unknown|30000|
+-------+-----------+-----------+---------------+-----+

In [0]:
df = df.select(*(col(c).cast('int') for c in df.columns))

In [0]:
df.printSchema()

root
 |-- company: integer (nullable = true)
 |-- engine type: integer (nullable = true)
 |-- horse power: integer (nullable = true)
 |-- average mileage: integer (nullable = true)
 |-- price: integer (nullable = true)

In [0]:
df.createOrReplaceGlobalTempView('employeeglobal')

In [0]:
%sql
select * from global_temp.employeeglobal

company,engine type,horse power,average mileage,price
null,null,null,212,60000
null,null,400,250,80000
null,null,200,400,35000
null,null,250,300,45000
null,null,180,null,30000

In [0]:
from pyspark.sql import SparkSession

In [0]:
customer_practice  = spark.read.csv('dbfs:/FileStore/Customer_Pratice.csv')
order_practice = spark.read.csv('dbfs:/FileStore/Orders_Pratice.csv')
order_details_practice = spark.read.csv('dbfs:/FileStore/Order_Details_Pratice.csv')
product_practice = spark.read.csv('dbfs:/FileStore/Products_Pratice.csv')

In [0]:
customer_practice.show()

+----------+---------+--------+--------------------+----------------+
|       _c0|      _c1|     _c2|                 _c3|             _c4|
+----------+---------+--------+--------------------+----------------+
|CustomerID|FirstName|LastName|        EmailAddress|     PhoneNumber|
|     cust1|     John|   Smith|john.smith@exampl...|    555-123-4567|
|     cust2|     Jane|     Doe|jane.doe@example.com|    555-987-6543|
|     cust3|  Michael| Johnson|michael.johnson@e...|    555-555-1212|
|     cust4|    Sarah|     Lee|sarah.lee@example...|    555-555-1212|
|     cust5|    David|     Kim|david.kim@example...|    908-434-3434|
|     cust6|    wonda|    long|wonda.long@exampl...|    322-545-1112|
|     cust7|    shuri|     wun|shuri.wun@example...|354-566-456-2345|
|     cust8|      tom| holland|tom.holland@examp...|    123-456-7890|
+----------+---------+--------+--------------------+----------------+

In [0]:
result_df = spark.sql("""
    SELECT c._c1 AS FirstName, c._c2 AS LastName, SUM(p.Price * od._c2) AS TotalRevenue
    FROM customer c
    JOIN `order` o ON c._c0 = o.CustomerID
    JOIN order_details od ON o._c0 = od.OrderID
    JOIN product p ON od._c1 = p._c0
    GROUP BY c._c0, c._c1, c._c2
""")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3125408404689992>:1
----> 1 result_df = spark.sql("""
      2     SELECT c._c1 AS FirstName, c._c2 AS LastName, SUM(p.Price * od._c2) AS TotalRevenue
      3     FROM customer c
      4     JOIN `order` o ON c._c0 = o.CustomerID
      5     JOIN order_details od ON o._c0 = od.OrderID
      6     JOIN product p ON od._c1 = p._c0
      7     GROUP BY c._c0, c._c1, c._c2
      8 """)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `o`.`CustomerID` cannot be resolved. Did you mean one of the following? [`o`.`_c0`, `o`.`_c1`, `o`.`_c2`, `o`.`_c3`, `c`.`_c0`].; line 4 pos 30;
'Aggregate ['c._c0, 'c._c1, 'c._c2], ['c._c1 AS FirstName#754, 'c._c2 AS LastName#755, 'SUM(('p.Price * 'od._c2)) AS TotalRevenue#756]
+- 'Join Inner, ('od._c1 = 'p._c0)
   :- 'Join Inner, ('o._c0 = 'od.OrderID)
   :  :- 'Join Inner, (_c0#93 = 'o.CustomerID)
   :  :  :- SubqueryAlias c
   :  :  :  +- SubqueryAlias customer
   :  :  :     +- View (`customer`, [_c0#93,_c1#94,_c2#95,_c3#96,_c4#97])
   :  :  :        +- Relation [_c0#93,_c1#94,_c2#95,_c3#96,_c4#97] csv
   :  :  +- SubqueryAlias o
   :  :     +- SubqueryAlias order
   :  :        +- View (`order`, [_c0#120,_c1#121,_c2#122,_c3#123])
   :  :           +- Relation [_c0#120,_c1#121,_c2#122,_c3#123] csv
   :  +- SubqueryAlias od
   :     +- SubqueryAlias order_details
   :        +- View (`order_details`, [_c0#145,_c1#146,_c2#147])
   :           +- Relation [_c0#145,_c1#146,_c2#147] csv
   +- SubqueryAlias p
      +- SubqueryAlias product
         +- View (`product`, [_c0#168,_c1#169,_c2#170,_c3#171])
            +- Relation [_c0#168,_c1#169,_c2#170,_c3#171] csv

In [0]:
order_practice.show()

+-------+----------+----------+----------+
|    _c0|       _c1|       _c2|       _c3|
+-------+----------+----------+----------+
|OrderID|CustomerID|LocationID| OrderDate|
|    Or1|     cust2|        L1|2022-02-22|
|    Or2|     cust4|        L2|2022-02-23|
|    Or3|     cust3|        L3|2022-02-24|
|    Or4|     cust1|        L3|2022-02-25|
|    Or5|     cust4|        L4|2022-02-26|
|    Or6|     cust2|        L5|2022-02-24|
|    Or7|     cust5|        L6|2022-02-22|
+-------+----------+----------+----------+

In [0]:
order_details_practice.show()

+-------+---------+--------+
|    _c0|      _c1|     _c2|
+-------+---------+--------+
|OrderID|ProductID|Quantity|
|    Or1|       P1|      10|
|    Or3|       P3|       2|
|    Or2|      P10|       5|
|    Or7|       P1|       4|
|    Or5|       P3|       5|
|    Or2|       P5|       8|
|    Or6|       P9|       5|
+-------+---------+--------+

In [0]:
product_practice.show()

+---------+-----------+----------+-----+
|      _c0|        _c1|       _c2|  _c3|
+---------+-----------+----------+-----+
|ProductID|ProductName|  Category|Price|
|       P1|     Apples|    Fruits|  199|
|       P2|    Bananas|    Fruits|   99|
|       P3|    Oranges|    Fruits|   29|
|       P4|   Tomatoes|Vegetables|   25|
|       P5|  Cucumbers|Vegetables|   99|
|       P6|    Carrots|Vegetables|   75|
|       P7|      Bread|    Bakery|   32|
|       P8|       Milk|     Dairy|   25|
|       P9|     Cheese|     Dairy|   40|
|      P10|       Eggs|     Dairy|    8|
+---------+-----------+----------+-----+

In [0]:
customer_table = spark.sql("select * from customer_practice")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3125408404689996>:1
----> 1 customer_table = spark.sql("select * from customer_practice")

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `customer_practice` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [customer_practice], [], false

In [0]:
%sql
select * from order

_c0,_c1,_c2,_c3
OrderID,CustomerID,LocationID,OrderDate
Or1,cust2,L1,2022-02-22
Or2,cust4,L2,2022-02-23
Or3,cust3,L3,2022-02-24
Or4,cust1,L3,2022-02-25
Or5,cust4,L4,2022-02-26
Or6,cust2,L5,2022-02-24
Or7,cust5,L6,2022-02-22

In [0]:
order_details = order_details.createOrReplaceTempView("order_details")

In [0]:
%sql
select * from order_details

_c0,_c1,_c2
OrderID,ProductID,Quantity
Or1,P1,10
Or3,P3,2
Or2,P10,5
Or7,P1,4
Or5,P3,5
Or2,P5,8
Or6,P9,5

In [0]:
product = product.createOrReplaceTempView("product")

In [0]:
%sql
select * from product

_c0,_c1,_c2,_c3
ProductID,ProductName,Category,Price
P1,Apples,Fruits,199
P2,Bananas,Fruits,99
P3,Oranges,Fruits,29
P4,Tomatoes,Vegetables,25
P5,Cucumbers,Vegetables,99
P6,Carrots,Vegetables,75
P7,Bread,Bakery,32
P8,Milk,Dairy,25
P9,Cheese,Dairy,40
P10,Eggs,Dairy,8

In [0]:
%sql
SELECT customer._c1 AS FirstName, customer._c2 AS LastName, SUM(product.Price * order_details._c2) AS TotalRevenue
FROM customer
JOIN order ON customer._c0 = "order".CustomerID
JOIN order_details ON "order"._c0 = order_details.OrderID
JOIN product ON order_details._c1 = product._c0
GROUP BY customer._c0, customer._c1, customer._c2;

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-172312610099777>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-172312610099777>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("U0VMRUNUIGMuX2MxIEFTIEZpcnN0TmFtZSwgYy5fYzIgQVMgTGFzdE5hbWUsIFNVTShwLlByaWNlICogb2QuUXVhbnRpdHkpIEFTIFRvdGFsUmV2ZW51ZQpGUk9NIGN1c3RvbWVyIGMKSk9JTiBvcmRlciBvIE9OIGMuX2MwID0gby5DdXN0b21lcklECkpPSU4gb3JkZXJfZGV0YWlscyBvZCBPTiBvLl9jMCA9IG9kLk9yZGVySUQKSk9JTiBwcm9kdWN0IHAgT04gb2QuX2MxID0gcC5fYzAKR1JPVVAgQlkgYy5fYzAsIGMuX2MxLCBjLl9jMg==").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [INVALID_EXTRACT_BASE_FIELD_TYPE] Can't extract a value from "order". Need a complex type [STRUCT, ARRAY, MAP] but got "STRING".

From here we can go

In [0]:
from pyspark.sql import SparkSession

In [0]:
customer_df  = spark.read.csv('dbfs:/FileStore/Customer_Pratice.csv')
order_df = spark.read.csv('dbfs:/FileStore/Orders_Pratice.csv')
order_details_df = spark.read.csv('dbfs:/FileStore/Order_Details_Pratice.csv')
product_df = spark.read.csv('dbfs:/FileStore/Products_Pratice.csv')

In [0]:

customer_df.createOrReplaceTempView("customer1")
order_df.createOrReplaceTempView("order1")
order_details_df.createOrReplaceTempView("order_details1")
product_df.createOrReplaceTempView("product1")

In [0]:
result_df = spark.sql("""
    SELECT c._c1 AS FirstName, c._c2 AS LastName, SUM(p.Price * od._c2) AS TotalRevenue
    FROM custome1r c
    JOIN `order1` o ON c._c0 = o.CustomerID
    JOIN order_details1 od ON o._c0 = od.OrderID
    JOIN product1 p ON od._c1 = p._c0
    GROUP BY c._c0, c._c1, c._c2
""")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2883937863774685>:1
----> 1 result_df = spark.sql("""
      2     SELECT c._c1 AS FirstName, c._c2 AS LastName, SUM(p.Price * od._c2) AS TotalRevenue
      3     FROM custome1r c
      4     JOIN `order1` o ON c._c0 = o.CustomerID
      5     JOIN order_details1 od ON o._c0 = od.OrderID
      6     JOIN product1 p ON od._c1 = p._c0
      7     GROUP BY c._c0, c._c1, c._c2
      8 """)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `custome1r` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 3 pos 9;
'Aggregate ['c._c0, 'c._c1, 'c._c2], ['c._c1 AS FirstName#1031, 'c._c2 AS LastName#1032, 'SUM(('p.Price * 'od._c2)) AS TotalRevenue#1033]
+- 'Join Inner, ('od._c1 = 'p._c0)
   :- 'Join Inner, ('o._c0 = 'od.OrderID)
   :  :- 'Join Inner, ('c._c0 = 'o.CustomerID)
   :  :  :- 'SubqueryAlias c
   :  :  :  +- 'UnresolvedRelation [custome1r], [], false
   :  :  +- SubqueryAlias o
   :  :     +- SubqueryAlias order1
   :  :        +- View (`order1`, [_c0#801,_c1#802,_c2#803,_c3#804])
   :  :           +- Relation [_c0#801,_c1#802,_c2#803,_c3#804] csv
   :  +- SubqueryAlias od
   :     +- SubqueryAlias order_details1
   :        +- View (`order_details1`, [_c0#826,_c1#827,_c2#828])
   :           +- Relation [_c0#826,_c1#827,_c2#828] csv
   +- SubqueryAlias p
      +- SubqueryAlias product1
         +- View (`product1`, [_c0#849,_c1#850,_c2#851,_c3#852])
            +- Relation [_c0#849,_c1#850,_c2#851,_c3#852] csv

In [0]:
result.show()

+---------+--------+
|FirstName|LastName|
+---------+--------+
|FirstName|LastName|
|     John|   Smith|
|     Jane|     Doe|
|  Michael| Johnson|
|    Sarah|     Lee|
|    David|     Kim|
|    wonda|    long|
|    shuri|     wun|
|      tom| holland|
+---------+--------+

In [0]:
result_df = spark.sql("""
    SELECT c._c1 AS FirstName, c._c2 AS LastName, SUM(p.Price * od._c2) AS TotalRevenue
    FROM customer c
    JOIN `order` o ON c._c0 = o.CustomerID
    JOIN order_details od ON o._c0 = od.OrderID
    JOIN product p ON od._c1 = p._c0
    GROUP BY c._c0, c._c1, c._c2
""")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2883937863774688>:1
----> 1 result_df = spark.sql("""
      2     SELECT c._c1 AS FirstName, c._c2 AS LastName, SUM(p.Price * od._c2) AS TotalRevenue
      3     FROM customer c
      4     JOIN `order` o ON c._c0 = o.CustomerID
      5     JOIN order_details od ON o._c0 = od.OrderID
      6     JOIN product p ON od._c1 = p._c0
      7     GROUP BY c._c0, c._c1, c._c2
      8 """)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `o`.`CustomerID` cannot be resolved. Did you mean one of the following? [`o`.`_c0`, `o`.`_c1`, `o`.`_c2`, `o`.`_c3`, `c`.`_c0`].; line 4 pos 30;
'Aggregate ['c._c0, 'c._c1, 'c._c2], ['c._c1 AS FirstName#1034, 'c._c2 AS LastName#1035, 'SUM(('p.Price * 'od._c2)) AS TotalRevenue#1036]
+- 'Join Inner, ('od._c1 = 'p._c0)
   :- 'Join Inner, ('o._c0 = 'od.OrderID)
   :  :- 'Join Inner, (_c0#93 = 'o.CustomerID)
   :  :  :- SubqueryAlias c
   :  :  :  +- SubqueryAlias customer
   :  :  :     +- View (`customer`, [_c0#93,_c1#94,_c2#95,_c3#96,_c4#97])
   :  :  :        +- Relation [_c0#93,_c1#94,_c2#95,_c3#96,_c4#97] csv
   :  :  +- SubqueryAlias o
   :  :     +- SubqueryAlias order
   :  :        +- View (`order`, [_c0#120,_c1#121,_c2#122,_c3#123])
   :  :           +- Relation [_c0#120,_c1#121,_c2#122,_c3#123] csv
   :  +- SubqueryAlias od
   :     +- SubqueryAlias order_details
   :        +- View (`order_details`, [_c0#145,_c1#146,_c2#147])
   :           +- Relation [_c0#145,_c1#146,_c2#147] csv
   +- SubqueryAlias p
      +- SubqueryAlias product
         +- View (`product`, [_c0#168,_c1#169,_c2#170,_c3#171])
            +- Relation [_c0#168,_c1#169,_c2#170,_c3#171] csv